#movie-list .movie .description
{
	font-style: italic;
}

#movie-list .movie .img-responsive
{
	float : right;
	width : 25%;
}

.movie-preload 
{
	text-align: center;
}

@media all and (max-width: 500px){
	#movie-list .movie .img-responsive 
	{
		display: block;
		float  : none;
		margin : 10% auto;
		width: 50%;
	}
}