<div class="list-group-item col-xs-12 movie" ng-repeat="movie in movies" >
	<h4 class="list-group-item-heading text-center">{{movie.title}}</h4>
	<img src="{{movie.poster_url}}" alt="{{movie.title}}" class="img-responsive img-thumbnail">
	<p class="list-group-item-text"><strong>Year:</strong> {{movie.year}}</p>
	<p class="list-group-item-text"><strong>Rating:</strong> {{movie.rating}}</p>
	<p class="list-group-item-text"><strong> Description:</strong></p>
	<p class="list-group-item-text description" ng-bind-html="renderHtml(movie.short_description)" ></p>
</div>
